//====================================================================================================
.header {
    // .header__top
    &__top {
        
    }
    // .header__body
    &__body {

    }
    // .header__catalog
    &__catalog {

    }
}
.top-header {
    background-color: $mainDarkColor;
    color: #fff;
    padding: toRem(10) 0;
    // .top-header__container
    &__container {
        display: flex;
        align-items: center;
        gap: 20px;
        min-height: 50px;
        @media (max-width:$tablet){
            gap: toRem(30);
        }
    }
    // .top-header__menu
    &__menu {
        flex: 1 1 auto;
    }
    // .top-header__user
    &__user {
        position: relative;
        z-index: 5;
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        line-height: math.div(22, 18);
        gap: toEm(15, 18);
        &::before {
            font-size: toRem(28);
        }
        @media (any-hover: hover){
            &:hover{
                span {
                    text-decoration: underline;
                }
            }
        }
        @media (max-width: $tablet){
            &::before {
                font-size: toRem(35);
            }
           span {
                display: none;
            }
        }
    }
}
.menu-top-header {
  // .menu-top-header__list
    &__list {
        display: flex;
        row-gap: 5px;
        @include adaptiveValue("column-gap", 60, 20);
        @media (max-width: $tablet){
              flex-direction: column;
              row-gap: 25px;
        }
    }
    // .menu-top-header__item
    &__item {
        &_catalog {
            @media (min-width: $tablet){
                display: none;
            }
        }
    }
    // .menu-top-header__link
    &__link {
        font-size: toRem(16);
        line-height: math.div(20 , 16);
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
        &_catalog {
           display: flex;
           align-items: center;
           flex-direction: row-reverse;
           justify-content: space-between;
            &::before {
              flex: 0 0 14px;
              height: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: toRem(8);
              transform: translateY(toRem(-2)) rotate(-90deg);
            }
        }
        @media (max-width: $tablet){
          @include adaptiveValue("font-size", 30, 20, 1, 992, 320);
        }
    }
    @media (max-width: $tablet) {
		display: none;
	}
}
//====================================================================================================
.menu {
    // .menu__body
    &__body {
        @media (max-width: $tablet){
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            overflow: auto;
            background-color: $mainDarkColor;
            padding: toRem(100) toRem(15) toRem(50) toRem(15);
            transition: left 0.3s ease 0s;
            z-index: 4;
            &::before{
                content:'';
                position: fixed;
                width: 100%;
                height: 70px;
                left: -100%;
                top: 0;
                background-color: $mainDarkColor;
            }
            .menu-open & {
                left: 0;
                &::before{
                  left: 0;
                }
            }
        }
    }
    @media (max-width: $tablet){
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
    }
}
//====================================================================================================
.body-header {
    padding: toRem(10) 0;
    background-color: #ECF1F2;
    // .body-header__container
    &__container {
        display: flex;
        min-height: toRem(70);
        align-items: center;
        @media (max-width: $tablet) {
           justify-content: space-between;
	    }
        @media (max-width: $mobileSmall){
        }
    }
    // .body-header__logo
    &__logo {
        @extend %ic;
        @extend ._icon-logo;
        font-size: toRem(42);
        color: $mainDarkColor;
    }
    // .body-header__search
    &__search {
        flex: 1 1 auto;
        @media (min-width: $tablet){
            padding-right: toRem(20);
        }
        @media (min-width: $mobileSmall){
            @include adaptiveValue("padding-left", 158, 20, 1620, 1, 1250);
        }
    }
    // .body-header__actions
    &__actions {
    }
}
.search-header {
    background-color: rgba(7, 7, 7, 0.03);
    border-radius: toRem(3);
    position: relative;
    border: 1px solid rgba(4, 4, 4, 0.5);
    @media (min-width: $tablet){
        max-width: toRem(377); 
    }
    // .search-header
    &__button {
        position: absolute;
        background-color: transparent;
        height: toRem(41);
        width: toRem(41);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: toRem(8);
        font-size: toRem(14);
        color: rgba(0, 0, 0, 0.5);
    }
    // .search-header__input
    &__input {
        width: 100%;
        background-color: transparent;
        border-radius: toRem(3);
        height: toRem(41);
        padding: 0px toRem(20) 0px toRem(50);
        color: $mainColor;
        &::placeholder {
            color: rgba(0, 0, 0, 0.5);
        }
    }
    @media (max-width:$mobileSmall){
        background-color: #fff;
    }
}

//====================================================================================================
.actions-header { 
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 30 , 20, 1620, 1, 1000);
    @media (max-width: $tablet) {
		display: none;
	}
    // .actions-header__location
    &__location {
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        @include adaptiveValue("margin-right", 25, 0, 1, 1620, 1400);
        &::before {
            font-size: toRem(24);
            margin: 0px toEm(10, 24) 0px 0px;
        }
        @media (any-hover: hover){
            &:hover{
                span {
                    text-decoration: underline;
                }
            }
        }
    }
    // .actions-header__phones
    &__phones {
    }
    // .actions-header__favorite
    &__favorite {
        position: relative;
        z-index: 5;
        font-size: toRem(27);
    }
    // .actions-header__cart
    &__cart {
    }
}

.phones-header { 
    position: relative;
    z-index: 5;
    // .phones-header__items
 &__items {
 }
 // .phones-header__item
 &__item {
    position: relative;
    display: flex;
 }
 // .phones-header__phone
  &__phone {
    font-weight: 600;
    white-space: nowrap;
    line-height: math.div(22, 18);
    &::before {
        @extend %ic;
        @extend ._icon-footer-phone;
        display: none;
    }
    @media (max-width:$tablet){
        font-size: toRem(25);
    }
    @media (max-width:$mobileSmall){
        &::before {
        display: block;
        font-size: toRem(32);
       }
       span {
        display: none;
       }
    }
  }
 // .phones-header__arrow
 &__arrow {
    color: #E8AA31;
    font-size: toRem(16);
    transition: transform 0.3s ease 0s;
    margin: 0px 0px 0px toEm(17, 16);
    &._spoller-active {
        transform: rotate(-180deg);
    }
    @media (max-width:$tablet){
        display: none;
    }
 }
 // .phones-header__list
 &__list{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 2;
    margin: toRem(5) 0px 0px 0px;
    border-radius: toRem(10);
    background-color: #fff;
    padding: toRem(15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    li {
        &:not(:last-child) {
            margin-bottom: toEm(8, 18);
        }
    }
    @media (max-width:$tablet){
        display: none;
    }
 }
 // .phones-header__callback
 &__callback {
    margin: toRem(3) 0px 0px 0px;
    font-weight: 700;
    line-height: math.div(22, 18);
    color: #E8AA31;
    @media (any-hover: hover){
        &:hover{
            text-decoration: underline;
        }
    }
    @media (max-width:$tablet){
        display: none;
    }
 }
}
.cart-header {
    display: flex;
    align-items: center;
    column-gap: 15px;
    position: relative;
    z-index: 5;
  // .cart-header__icon
  &__icon {
    flex: 0 0 37px;
    font-size: toRem(35);
    position: relative;
    span {
        position: absolute;
       background-color: $mainOrange;
       font-size: toRem(7);
       width: toRem(14);
       height: toRem(14);
       border-radius: 50%;
       display: flex;
       top: 0;
       right: 0;
       color: #fff;
       justify-content: center;
       align-items: center;
    }
  }
  // .cart-heard__body
  &__body {
    line-height: math.div(20, 16);
    font-size: toRem(16);
    flex: 0 0 auto;
    @media (max-width: toEm(1250)){
        display: none;
    }
  }
  // .cart-header__summ
  &__summ {
    font-weight: 500;
    &:not(:last-child) {
        margin-bottom: toEm(5, 16);
    }
  }
  // .cart-header__link
    &__link {
        color: $mainOrange;
        @media (any-hover: hover){
             &:hover{
                text-decoration: underline;
             }
        }
    }
}
//========================================================================================================================================================
.catalog-header {
    position: relative;
    background-color: $mainDarkColor;
    color: #fff;
    // .catalog-header__container
    &__container {
    }
    // .catalog-header__menu
    &__menu {
    }
    @media (max-width:$mobileSmall){
        padding: toRem(20) 0; 
    }
}
.menu-catalog { 
    @media (max-width:$tablet){
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: $mainDarkColor;
      padding: toRem(25) toRem(15) toRem(50) toRem(15);
      transition: left 0.3s ease 0s;
        .catalog-open & {
         left: 0;
         z-index: 6;
        }
    }
    // .menu-catalog__list
    &__list {
        display: flex;
        column-gap: 10px;
        justify-content: space-between;
        @media (max-width:$tablet){
            flex-direction: column;
            row-gap: toRem(25);
        }
    }
    // .menu-catalog__item
    &__item {

    }
    // .menu-catalog__link
    &__link {
        display: flex;       
        position: relative;
        transition: color 0.3s ease 0s;
        &[data-parent] {
            &::before {
                @extend %ic;
                @extend ._icon-arrow-bottom;
                display: none;
                @media (max-width: $tablet){
                    transform: rotate(-90deg);
                    display: block;
                    font-size: toRem(10);
                }
            }
           @media (max-width: $tablet) {
              display: flex;
              width: 100%;
              flex-direction: row-reverse;
              justify-content: space-between;
            }
        }
        @media (min-width: $tablet){
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: toRem(70);
            padding: 0px toRem(10);
        }
        &::after {
            content: "";
            opacity: 0;
            visibility: hidden;
            position: absolute;
            bottom: 0;
            left: toRem(10);
            height: 1px;
            background-color: $mainOrange;
            width: calc(100% - toRem(20));
            transition: all 0.3s ease 0s;
        }
        @media (any-hover: hover){
          &:hover {
             color: $mainOrange;
                &::after {
                 opacity: 1;
                 visibility: visible;
                }
            }
        }
        @media (min-width: $tablet){
            &._sub-menu-active {
              color: $mainOrange;
                &::after {
                 opacity: 1;
                 visibility: visible;
                }
            }  
        }
        
        @media (max-width: $tablet){
          @include adaptiveValue("font-size", 30, 20, 1, 992, 320);
        }
    }
    // .menu-catalog__sub-menu
    &__sub-menu{
       width: 100%;
       left: 0;
       top: 100%;
       background-color: $mainDarkColor;
    }
    &__back {
        display: none;
        @media (max-width:$tablet){
            display: inline-flex;
            align-items: center;
            @include adaptiveValue("font-size", 30, 20, 1, 992, 320);
            &:not(:last-child) {
               margin-bottom: toEm(65, 30);
            }
            &::before{
                margin: toRem(0) toEm(13, 30) toRem(0) toRem(0);
            }
        }
    }
}
.sub-menu-catalog {
    @media (max-width:$tablet){
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: $mainDarkColor;
      padding: toRem(25) toRem(15) toRem(50) toRem(15);
      transition: left 0.3s ease 0s;
        .sub-menu-open & {
          display: block;
          left: 0;
          z-index: 6;
        }
    }
   &__back {
       display: none;
       @media (max-width:$tablet){
           display: inline-block;
           align-items: center;
           @include adaptiveValue("font-size", 30, 20, 1, 992, 320);
           &:not(:last-child) {
              margin-bottom: toEm(65, 30);
           }
           &::before{
               margin: toRem(0) toEm(13, 30) toRem(0) toRem(0);
           }
       }
   }
   // .sub-menu-catalog__block
 &__block {
    display: none;
    @for $var from 1 to 6 {
      &_#{$var} {
        grid-template-columns: repeat($var, minmax(auto, toRem(320)));
      }
    }
    &._sub-menu-open {
        display: grid;
        @media (max-width: $tablet){
         display: block;
        }
    }
 }
 &__container {
 padding: 0px toRem(10);
 }
 // .sub-menu-catalog__category 
 &__category {
  font-size: toRem(16);
  line-height: math.div(20, 16);
    @media (any-hover: hover){
        &:hover{
         text-decoration: underline;
        }
    }
   @media (min-width: $tablet){
     font-weight: 700;
     padding: toRem(30) toRem(15) toRem(30) 0; 
    }
    @media (max-width:$tablet){
        &:not(:last-child) {
          margin-bottom: toEm(25, 16);
        }
    }
 }
 // // .sub-menu-catalog__list
 &__list {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: toRem(30) toRem(15) toRem(30) 0;
   border-top: 1px solid rgba(255, 255, 255, 0.3);
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   @media (max-width:$tablet){
      display: none;
   }
 }
 // .sub-menu-catalog__item 
 &__item {
 
 }
 // .sub-menu-catalog__link 
 &__link {
   font-size: toRem(16);
   line-height: math.div(20, 16);
   @media (any-hover: hover){
    &:hover{
        text-decoration: underline;
    }
   }
 }
 &__link-category {
    @include adaptiveValue("font-size", 30, 20, 1, 992, 320);
 }
 // .sub-menu-catalog__footer
 &__footer {
    padding: toRem(30) toRem(15) toRem(30) 0;
    @media (max-width:$tablet){
         display: none; 
    }
 }
 // .sub-menu-catalog__all 
 &__all {
    align-self: flex-start;
    padding-top: toRem(30);
    padding-left: toRem(15);
   padding-right: toRem(15);
    font-size: toRem(16);
    color: $mainOrange;
    @media (any-hover: hover){
       &:hover{
           text-decoration: underline;
       }
    }
 }
}
//====================================================================================================

//Burger 
.icon-menu {
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 40px;
		height: toRem(22.5);
        cursor: pointer;
		z-index: 10;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
